/* 라인 메인 */

#main_1{
    display: grid;
    width: 300px;
    height: 700px;
    background-color: khaki;
    border: 2px;
    border-style: solid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    position: relative;
    grid-template-columns: 0px;
}

/* 라인1 */

#line_1{

    width: 300px;
    background-color: red;
    
}
#line_1_1{
    width: 100px;
    background-color: aqua;
    height: 110px;
}
#line_1_2{
    width: 100px;
    background-color: aqua;
    height: 110px;
    position: absolute;
    left: 100px;
    top:0px;
}
#line_1_3{
    width: 100px;
    background-color: aqua;
    height: 110px;
    position: absolute;
    left: 202px;
    top: 2px;
}

/* 라인2 */

#line_2{

    width: 300px;
    height: 40px;
    background-color: red;
}

#line_2_1{
    width: 100px;
    background-color: aqua;
    height: 40px;
}
#line_2_2{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 102px;
    top: 112px;
}
#line_2_3{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 202px;
    top: 112px;
}

/* 라인 3 */

#line_3{

    width: 300px;
    height: 40px;
    background-color: red;
}

#line_3_1{
    width: 100px;
    background-color: aqua;
    height: 40px;
}
#line_3_2{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 102px;
    top: 152px;
}
#line_3_3{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 202px;
    top: 152px;
}


#line_4{

    width: 300px;
    height: 40px;
    background-color: red;
}

#line_4_1{
    width: 100px;
    background-color: aqua;
    height: 40px;
}
#line_4_2{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 102px;
    top: 192px;
}
#line_4_3{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 202px;
    top: 192px;
}

#line_5{

    width: 300px;
    height: 40px;
    background-color: red;
}

#line_5_1{
    width: 100px;
    background-color: aqua;
    height: 40px;
}
#line_5_2{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 102px;
    top: 232px;
}
#line_5_3{
    width: 100px;
    background-color: aqua;
    height: 40px;
    position: absolute;
    left: 202px;
    top: 232px;
}

#line_6{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_7{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_8{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_9{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_10{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_11{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_12{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_13{

    width: 300px;
    height: 40px;
    background-color: red;
}
#line_14{

    width: 300px;
    background-color: red;
    
}
#disc_cover{

    background-color: aqua;
    width: 200px;
    height: 700px;
    position: absolute;
    border: 4px;
    left: 304px;
}