#box {
    display: grid;
    width: 700px;
    height: 640px;
}

/* flex x,y축으로 배치하는것 */
/* grid는 xy축으로 쌍으로 다 된다 */

#main_01 {
    display:flex;
    width: 700px;
    height: 100px;
}
#left_top{

    background-color: black;
    width: 120px;
    height: 100px; 
    background-image: url(dia2.png);
    background-size: 120px 100px;
    background-position: left;

}
#main_top{
    /* background-color: blue; */
    width: 480px;
    height: 100px;    
    background-image: url(main_top.jpg);
    background-size: 500px 100px;
    /* background: linear-gradient(to right)     */
}

/* 질문1: 이미지 그라데이션 하는법 */


#main_02{
    display: flex;
}
#menu1{
    background-color: aqua;
    width: 120px;
    height: 40px;
    
}
#menu2{
    background-color: aquamarine;
    width: 120px;
    height: 40px;
}
#menu3{
    background-color: orange;
    width: 120px;
    height: 40px;    
}
#menu4{
    background-color: green;
    width: 120px;
    height: 40px;
}
#menu5{
    background-color: silver;
    width: 120px;
    height: 40px;
}
#main_03{
    display: flex;
}
#main_left{
    background-color: yellow;
    width: 120px;
    height: 500px;
}
#center{
    background-color: purple;
    width: 480px;
    height: 500px;
}

#right{
    background-color: pink;
    width: 100px;
    height: 540px;
}
#right_down{
    background-color: bisque;
    width: 100px;
    height: 50px;
    position: relative;
    top: 400px;
}
div.ig{
    background: linear-gradient(to right bottom, yellow, white);
}

/* 질문2: 그라데이션 포인트는 크기 조절이 가능한지 */

div.ig2{
    background: linear-gradient(135deg, purple, white);
}

